<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12922701-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-12922701-4');
    </script>
    <meta charset="utf-8">
    <title>{% if current_page.data.title %}{{ current_page.data.title | escape }} || {% endif %}How Many Days Has It Been Since a JWT alg=none Vulnerability?</title>
    {% stylesheet_link_tag styles %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@zofrex" />
    <meta property="og:title" content="{% if current_page.data.title %}{{ current_page.data.title | escape }} || {% endif %} How Many Days Has It Been Since a JWT alg=none Vulnerability?" />
    {% capture description %}{% yield_content description %}{% endcapture %}
    {% if description != "" %}
      <meta property="og:description" content="{{ description | escape }}" />
    {% endif %}
  </head>
  <body>
    <main>
      {{ yield }}
    </main>
    <footer>
      Out of date? <a href="https://twitter.com/zofrex">@ me on Twitter</a><br/>
      &copy; {{ "now" | date: "%Y" }}
    </footer>
  </body>
</html>
